.subscription-form{
    background-color: black;
    color:white;
    height:290px;
    padding: 2.3rem 1rem 1.5rem;
    opacity: 0.6;
}

.subscription-form h2{
    font-size:2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.subscription-form p{
    font-size:1rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.subscription-form form{
    display:flex;
    flex-direction: column;

}
.subscription-form form #email-input{
    width: 100%;
    height:40px;
    padding:0.5rem;
    margin: 0.2rem 0 1.2rem;
    font-size:1rem;
}

.subscription-form form #submit-button{
    width: 110px;
    height: 40px;
    border:none;
    color:white;
    background-color: #f44336;
    font-size:1rem;
}

.subscription-form form #submit-button:hover{
   background-color: rgb(138, 140, 142);
   color:black;
   cursor:pointer;
}

.subscription-form:hover{
    opacity:1;
}