navbar{
    display:flex;
    justify-content:space-between;
}

.navbar-list{
    display:flex;
    list-style:none;
}
.navbar-list li, #book-button{
    padding: 10px 22px;
    font-size: 1.1rem;
}

.navbar-list li:hover{
    background-color:rgb(242, 242, 242);
    cursor:pointer;
}

.navbar-list li a{
    text-decoration:none;
    color:rgb(108, 108, 108);
}

#logo{
    background-color: #f44336;
    color:white;
    display: flex;
    align-items: center;
    gap:10px;
    
}

#logo:hover{
    background-color: rgb(187, 187, 187);
    color:black;
}
#logo img{
    filter: invert();
    width:20px;
}

#book-button{
    border:none;
    background-color:rgb(242, 242, 242);
}

#book-button:hover{
    background-color:rgb(206, 206, 206);
    cursor:pointer;
}



