.room{
    padding: 2.5rem 1rem 1.5rem;
}
.room h2{
    font-size: 2rem;
    font-weight: 300;
}

.room p{
    font-size: 1.1rem;
    font-weight: 300;
    margin:1rem 0;
}

.room-form{
    display: flex;
    margin-bottom:1.5rem;
    justify-content: space-between;
    gap:0.5rem;
    flex-wrap: wrap;
}

.room-form div{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    width: auto;
    margin: 0.5rem 0;
}

.room-form div input{
    width:210px;
    min-width: 150px;
    height:2.8rem;
    padding: 0.5rem;
    border:none;
    font-size: 1rem;
    border: 1px solid rgb(185, 185, 185);
}

#room-submit{
    background-color:black;
    color:white;
}

#room-submit:hover{
    cursor:pointer;
    background-color:rgb(218, 218, 218);
    color:black;
}



.room-cards-container{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


.room-card{
    width:390px;
    background-color: white;
    font-weight: 300;
    margin: 1rem 0;
}

.room-card img{
    width:100%;
}

.room-card .room-card-text{
    padding:1rem;
    
}

.room-card .room-card-text h3{
    font-weight: 400;
    font-size:1.4rem;
}
.room-card .room-card-text p{
    margin:0.7rem 0;
    font-size:0.9rem;
}

.room-card .room-card-text #gray-text{
    color:gray;
}

.room-card .room-card-text button{
    width:100%;
    height:2.2rem;
    border:none;
    background-color: black;
    color:white;
    font-weight: 300;
}

.room-card .room-card-text button:hover{
    background-color: rgb(167, 167, 167);
    color:black;
    cursor:pointer;
}

@media (max-width: 600px){
    .room-form div{
        width:100%;
    }

    .room-form div input{
        width:100%;
    }
}